* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #F0F3FA;
}
.menu {
    background: rgba( 183, 197, 213, 0.45 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 0px );
    -webkit-backdrop-filter: blur( 0px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    height: auto;
}